apiVersion: v1
kind: Service
metadata:
  name: {{ include "ipam.apiFullname" . }}
  labels:
    {{- include "ipam.apiLabels" . | nindent 4 }}
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ipam.apiSelectorLabels" . | nindent 4 }}
