db:
  existingSecret: ipam-db

ingress:
  enabled: true
  className: nginx
  tls:
    - secretName: ipam-local-tls
      hosts:
        - "ipam.local"
  hosts:
    - host: "ipam.local"
      paths:
        - path: /api
          pathType: Prefix
          service:
            name: api
            port: 4040
        - path: /
          pathType: Prefix
          service:
            name: fe
            port: 80

api:
  auth:
    enabled: true
    issuer: "https://keycloak.local/realms/ipam"
    audience: "ipam-api"
    jwksURL: "http://ipam-keycloak:8080/realms/ipam/protocol/openid-connect/certs"

keycloak:
  enabled: true
  replicaCount: 1
  image:
    repository: keycloak/keycloak
    tag: "24.0.0"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
  admin:
    username: admin
    password: changeme
  db:
    host: "ipam-postgres-postgresql"
    port: 5432
    database: ipam
    user: ipam
    existingSecret: keycloak-db
    passwordKey: password
  proxy:
    headers: xforwarded
  http:
    enabled: true
  hostname:
    strict: false
    url: "https://keycloak.local"
  realmImport:
    enabled: true
    configMapName: ipam-realm
    mountPath: /opt/keycloak/data/import
  ingress:
    enabled: true
    className: nginx
    annotations: {}
    tls:
      - secretName: keycloak-local-tls
        hosts:
          - "keycloak.local"
    host: "keycloak.local"
    path: /
    pathType: Prefix
fe:
  env:
    VITE_KEYCLOAK_URL: "https://keycloak.local"
    VITE_KEYCLOAK_REALM: "ipam"
    VITE_KEYCLOAK_CLIENT_ID: "ipam-fe"
    VITE_API_BASE: "/api/v1"
